<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>Random Name Generator</title>
  </head>
  <body>
        <h1>Random Name Generator</h1>
        <div class="container">

            <div class="result"></div>
            <button class="btn btn-primary" id="generate">Get Name</button>

        </div>
        <script src="./app.js"></script>
        <script>
            const resultDiv = document.querySelector('.result');
            const generateBtn = document.querySelector('#generate');
            generateBtn.addEventListener('click', () => {
                loadRandomName(resultDiv)
            })
        </script>
  </body>
  </html>